body {
    color: white;
    font-size: 14px;
    background-color:#fff;
    border:1px solid #fff;
}

.TD_STYLE1 {
    height: 45px;
    line-height: 45px;
}


.BUTTON_STYLE1 {
    color: white;
    height: 27px;
    line-height: 23px;
    width: 65px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
}

#fields tr td {
    height: 32px;
    line-height: 30px;
    border:1px solid #fff;
}

.child_menu li span {
    color: rgba(255,255,255,.75);
    font-size: 12px;
    padding: 9px;
}
