
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎使用Bette伯乐人力资源管理系统</title>
    @*<link href="~/css/main.css" rel="stylesheet" id="link"/>*@
    <link href="~/css/mr.css" rel="stylesheet" />
    <style>
        body {
            margin: auto;
            padding: 0;
            height: 1200px;
        }

        #te {
            height: 100px;
            width: 100px;
            display: block;
        }
    </style>
    <script src="~/javascript/jquery-1.7.2.js"></script>
</head>
<body>
    <iframe src="Gun" style="height:100%;width:100%;border-width:0px"></iframe>
</body>
</html>

