
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>人力资源管理-登录</title>
    <style>
        body {
            background-image: url('../../images/images/Login2.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
        }

        table {
            width: 300px;
            height: 20px;
            margin-top: 400px;
            margin-left: 520px;
        }

        td {
            font-size: 17px;
            font-weight: 500;
            color: white;
        }

        .name, .pass {
            color: white;
            border-radius: 20px;
            height: 20px;
            line-height: 20;
            text-align: center;
            background-color: transparent;
        }

        .btnOK {
            font-size: 15px;
            color: white;
            margin-top: 10px;
            margin-left: 115px;
            height: 27px;
            line-height: 23px;
            width: 65px;
            border-radius: 20px;
            background-color: transparent;
        }

        h1 {
            margin-top: 40px;
            margin-left: 50px;
        }
    </style>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script>
        function pd() {
            if ($("#userName").val() == "") {
                alert("用户名不能为空!");
                return false;
            }
            if ($("#userPassword").val() == "") {
                alert("密码不能为空!");
                return false;
            }
            $.ajax({
                url: "Login",
                type: "post",
                data: $("#fro").serialize(),
                success: function (data) {
                    if (data == true) {
                        location.href = "../hr/Index";
                    }
                    else {
                        alert("用户名或密码错误!");
                        return false;
                    }
                }
            })
        }
    </script>
</head>
<body>
    <form method="post" id="fro" onsubmit="return false;">
        <div>
            <h1>欢迎登陆Bette伯乐人力资源管理系统</h1>
            <table>
                <tr>
                    <td>姓名:</td>
                    <td><input id="userName" type="text" class="name" name="u_name" /></td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input id="userPassword" type="password" class="pass" name="u_password" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input id="Submit1" type="submit" value="确定" class="btnOK" onclick="return pd();" /></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
