
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>hr_middle</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            /*background-color: #051121;*/
            background-image: url('../../images/ADE08F0B6AC71C5383B47DEE0871DBF2 (2).jpg');
            /*background-image: url('../../images/images/Login1.jpg');*/
            background-color: transparent;
            /*background-repeat: no-repeat;*/
            background-size: 1094px;
            /*background-position: 130% 0;*/
            margin-left: 20px;
            margin-top: 20px;
        }

        table {
            border-collapse: collapse;
        }

        #content {
            font-size: 14px;
            text-align: center;
            height: 50px;
            line-height: 50px;
        }
    </style>
    <script type="text/javascript"
            src="../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../javascript/jquery.messager.js">
    </script>
    @*<script type="text/javascript">

            ////调用
            //msg("提示信息", "消息内容");

            function pop_init(title, content) {
                //取当前浏览器窗口大小
                var windowWidth = $(document).width();
                var windowHeight = 605;
                //弹窗的大小
                var weight = 190;
                var height = 100;
                $("body").append(
                "<div id='pop_div'style='display:none;position:absolute;border:1px solid #e0e0e0;z-index:99;background-color: #000;color:#fff;width:" + weight + "px;height:" + height + "px;top:" + (windowHeight - height - 10) + "px;left:" + (windowWidth - weight - 10) + "px'>" +
                    "<div style='line-height:32px;background:#000;border-bottom:1px solid #e0e0e0;font-size:14px;padding:0 0 0 10px;'>" +
                        "<div style='float:left;'><b>" + title + "</b></div><div style='float:right;cursor:pointer;'><b onclick='pop_close()'>×</b></div>" +
                        "<div style='clear:both'></div>" +
                    "</div>" +
                    "<div id='content'>" +
                         content +
                    "</div>" +
                "</div>"
                );
            }
            function pop_close() {
                $('#pop_div').fadeOut(400);
            }
            $(document).ready(function () {
                pop_init("信息提示", "欢迎您,小可爱");
                $('#pop_div').fadeIn(400);
            });
        </script>*@
</head>
<body>
    <div id="msg">
    </div>
</body>
</html>
