
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>hr_middle</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            /*background-color: #051121;*/
            /*background-image: url('../../images/images/Login1.jpg');*/
            background-image: url('../../images/ADE08F0B6AC71C5383B47DEE0871DBF2 (2).jpg');
            background-color: transparent;
            /*background-repeat: no-repeat;*/
            background-size: 1096px;
            /*background-position: 130% 0;*/
            margin-left: 20px;
            margin-top: 20px;
        }

        table {
            border-collapse: collapse;
        }

        #content {
            font-size: 14px;
            text-align: center;
            height: 50px;
            line-height: 50px;
        }

        #msg {
            position: fixed;
            right: 0;
            top: 700px;
        }
    </style>
    <script type="text/javascript"
            src="../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../javascript/jquery.messager.js">
    </script>
    @*<script type="text/javascript">
        $(function () {
            $.messager.show("<font style='font-family:宋体;'>消息提示", "欢迎你：人事经理谢鹏！</font>", 2000);
        });
    </script>*@
</head>
<body>
</body>
</html>
