
@{
    Layout = null;
}
@using hrModel
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript"
            src="../../javascript/jquery-1.7.2.js">
    </script>
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
    <script type="text/javascript" src="../../javascript/comm/comm.js"></script>
    <title>无标题文档</title>
    <STYLE type="text/css">
        td {
            text-align: center;
        }
    </STYLE>
    <script>
        $(function () {
            $.ajax({
                url: "L",
                type: "post",
                data: "type="+@ViewData["type"],
                success: function (da) {
                    
                    var data=eval(da);
                    var zs=0;
                    var zje=0;
                    var zrs=0;
                    
                    for (var i = 0; i < data.length; i++) {
                        zs++;
                        zje=zje+data[i]["zjr"];
                        zrs=zrs+data[i]["rs"];
                        $(".TABLE_STYLE1").append('<tr class="TD_STYLE2"><td>'+(i+1)+' </td><td> '+data[i].name+'  </td><td>'+data[i].rs+'</td><td>'+data[i].zjr+'</td><td><a href="register_commit?name='+data[i].name+'&type='+@ViewData["type"]+'">登 记</a></td></tr>');

                    }
                    $("#tit").html("薪酬总数:"+zs+",总人数:"+zrs+"，基本薪酬总数:"+zje+"");
                }
            })
        });

    </script>
</head>

<body>

    <table width="100%">
        <tr>
            <td colspan="2" style="text-align: left">
                <font color="black">
                    您正在做的业务是：人力资源--薪酬标准管理--薪酬发放登记(负责人控制)
                </font>
            </td>
        </tr>
    </table>
    <br>
    <p id="tit">
        @*薪酬总数:3,总人数:8，基本薪酬总数:141821.0，实发总额:1998.0*@
    </p>
    <table width="100%" border="1" cellpadding=0 cellspacing=1
           bordercolorlight=#848284 bordercolordark=#eeeeee
           class="TABLE_STYLE1">

        <tr>
            <td width="10%" class="TD_STYLE1">
                <span>序号</span>
            </td>

            @if ((string)ViewData["type"] == "1")
            {
                <td width="40%" class="TD_STYLE1">
                    <span>I级机构名称</span>
                </td>
            }
            @if ((string)ViewData["type"] == "2")
            {
                <td width="40%" class="TD_STYLE1">
                    <span>II级机构名称</span>
                </td>
            }
            @if ((string)ViewData["type"] == "3")
            {
                <td width="40%" class="TD_STYLE1">
                    <span>III级机构名称</span>
                </td>
            }
            <td width="10%" class="TD_STYLE1">
                <span>人数</span>
            </td>
            <td width="10%" class="TD_STYLE1">
                基本薪酬总额(元)
            </td>
            <td width="10%" class="TD_STYLE1">
                登记
            </td>
        </tr>


    </table>
    <p>
        &nbsp;
    </p>
</body>
</html>